<button (click)="showPositionDialog('bottom')" pButton pRipple type="button" label="Add a new store"
    class="p-button-rounded p-button-warning">
</button>

<p-dialog header="Add a new shop" [(visible)]="displayPosition" [position]="position" [modal]="true"
    [style]="{width: '80vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="card">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field">
                <label for="shopName">Shop Name</label>
                <br>
                <input id="shopName" [(ngModel)]="shopName" type="username" aria-describedby="shopName-help" pInputText
                    autocomplete="off" />
                <br>
                <small *ngIf="!isShopNameValid()" id="shopName-help" class="p-error">Name of the shop is required.</small>
            </div>
            <div class="p-field">
                <label for="shopDescription">Enter some description</label>
                <br>
                <textarea [(ngModel)]="shopDescription" id="shopDescription" type="text" rows="8" autocomplete="off"
                    placeholder="May be PAN numbers? Address? Or what you sell?" pInputTextarea></textarea>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="saveShop()" label="Save" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>