<div class="cards-list">

    <div class="card 1">
        <div class="card_image"> <img
                src="https://www.crushpixel.com/big-static15/preview4/camera-icon-on-color-background-2082715.jpg" />
        </div>
        <div class="card_title title-white">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 2">
        <div class="card_image">
            <img src="https://www.crushpixel.com/big-static15/preview4/camera-icon-on-color-background-2082715.jpg" />
        </div>
        <div class="card_title title-white">
            <p>Card Title</p>
        </div>
    </div>
</div>