<div class="shop-list-details">
    <p-divider align="center">
        <span class="p-tag">List Of Shops</span>
    </p-divider>
    <div class="cards-list">
        <div class="card" *ngFor="let shop of shopList">
            <div class="card_image">
                <img src="https://png.pngtree.com/png-vector/20190118/ourlarge/pngtree-vector-shop-icon-png-image_327584.jpg" />
                </div>
                <div class="card-details">
                    <span>{{shop.shopName}}</span>
                </div>
                </div>
    </div>
</div>